.containerLinks {
  display: flex;
  align-items: flex-end;
  position: fixed;
  height: 52px;
  min-height: 52px;
  max-height: 52px;
  width: 90%;
  border-radius: 6px;
  flex: 1;
  margin: 0;
  z-index: 49;
  overflow: visible;
  font-family: var(--font1);
  transition: all 900ms;
  bottom: 1rem;
  background-color: var(--fondoblur);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 8px 0 rgba(78, 53, 53, 0.4);
  transition: box-shadow 0.3s ease;
}


/* Lista de navegación */
.navLinks {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
  gap: 0.5rem;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  transition: all 900ms;
  flex-direction: row;
}


.btnNav,
.Logo {
  min-height: 2.5rem;
  max-height: 2.5rem;
  min-width: 3.3rem;
  max-width: 3.3rem;
  margin: 0;
  align-self: center;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  /* Habilita Flexbox */
  justify-content: center;
  align-items: center;
  /* Centra verticalmente */
  border: none;
  text-align: center;
  border-radius: 0.7pc;
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1),
    background-color 1.25s cubic-bezier(0.19, 1, 0.22, 1),
    color 1.25s cubic-bezier(0.19, 1, 0.22, 1),
    box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  flex-direction: column;

}

.Logo {
  background: transparent;
  box-shadow: none;
}

.activeBtn {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
  /* sombra más profunda al levantar */
}

.nameBtn {
  display: flex;
  position: absolute;
  bottom: 2px;
  color: var(--colorlimon);
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0;
}

  /*   BUTONN Hambur  */
 .btn_toggle{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  position:sticky ;
  transition: all 900ms; 
  min-height: 100vh;
  width: 100%;
  z-index: 21;
  margin: 0;
}
.btn_toggle span {
    position: relative;
    top: 4%;
    width: 2.5rem;
    margin-left: 0.5rem;
    max-height: 2px;
    min-height: 2px;
    background-color:var(--negro);
    margin-bottom: 5px;
    border-radius: 2px; 
    transform-origin: 9px 3.5px;
    transition: all 0.2s linear;
   
}         

/* Animación de apertura */
.btn_toggle.open > span:nth-child(1) {
transform: rotate(40deg) translateY(4px); /* Rota y mueve hacia abajo */
width: 37px; /* Aumentamos el ancho para que se vea bien */
}
.btn_toggle.open > span:nth-child(2) {
opacity: 0; /* Oculta el segundo span */
}
.btn_toggle.open > span:nth-child(3) {
transform: rotate(-40deg) translateY(-2px); /* Rota y mueve hacia arriba */
width: 37px; /* Aumentamos el ancho para que se vea bien */
}


/* FIN BUTONN HamburGUESA  */

/* Media Queries para diseño responsive */

@media (min-width: 637px) {

  .containerLinks {
    max-width: 45%;
  }
}

